/* @import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Rye&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Quintessential&family=Rye&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Quicksand&family=Quintessential&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.main-btn{
    position: relative;
    color: #EC4899;
    padding: 10px 25px;
    transition:all 0.7s;
    z-index: 1;
    border: 1px solid;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-btn:hover{
    color: white;
}
.main-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #EC4899;
    z-index: -1;
    opacity: 0.5;
    transition: 0.5s;
}
.main-btn:hover::after{
    width: 100%;
    opacity: 1; 
}

.pink-bg{
    position: absolute;
    width: 600px;
    height: 400px;
    border-radius: 50%;
    z-index: -9;
    filter: blur(60px);
    transform: rotate(30deg);
  }