.contact-banner{
    background: linear-gradient(50deg, #35404e, #35404e90),url(../../assets/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.contact-img-content{
    min-height: 410px;
    min-width: 90%;
    margin: 0 auto;
    background: url(../../assets/man-over.png), url(../../assets/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}